.app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  flex: 1;
  flex-direction: column;
}
.header {
  margin: 45px;
  font-size: 2.5rem;
  color: #00425a;
}
p {
  font-size: 1.3rem;
  font-weight: 600;
  color: #00425a;
}

.btnContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.btnShow {
  width: 200px;
  height: 45px;
  border-radius: 5px;
  border: 1px Solid #443c68;
  background: #635985;
  color: #f0eeed;
  margin: 25px;
  font-size: medium;
  font-weight: 600;
  cursor: pointer;
}
.btn {
  width: 200px;
  height: 45px;
  border-radius: 5px;
  border: 1px Solid #ecf9ff;
  background: #6096b4;
  color: #f0eeed;
  margin: 25px;
  font-size: medium;
  font-weight: 600;
  cursor: auto;
}
